@font-face {
    font-family: "PathwayGothicOne-Regular";
    src: url("/font/PathwayGothicOne-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

#wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    perspective: 700px;
}

.coming-enter-active {
    animation-name: anim;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.coming-leave-active {
    animation-name: anim;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes anim {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.box-area {
    position: relative;
    transform-style: preserve-3d;
    animation-name: rotate;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: rotate3d(0, 0, 0, 0);
    }
    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

.box {
    position: absolute;
    width: 600px;
    height: 600px;
}

.box-area > div > div {
    position: absolute;
    width: 200px;
    height: 200px;
}

#box-front > .i1 {
    color: white;
    top: 0;
    left: 0;
}
#box-front > .i2 {
    color: white;
    top: 0;
    left: 200px;
}
#box-front > .i3 {
    color: white;
    top: 0;
    left: 400px;
}
#box-front > .i4 {
    color: white;
    top: 200px;
    left: 0;
}
#box-front > .i5 {
    color: white;
    top: 200px;
    left: 200px;
}
#box-front > .i6 {
    color: white;
    top: 200px;
    left: 400px;
}
#box-front > .i7 {
    color: white;
    top: 400px;
    left: 0;
}
#box-front > .i8 {
    color: white;
    top: 400px;
    left: 200px;
}
#box-front > .i9 {
    color: white;
    top: 400px;
    left: 400px;
}

#box-back > .i1 {
    color: white;
    top: 0;
    left: 0;
}
#box-back > .i2 {
    color: white;
    top: 0;
    left: 200px;
}
#box-back > .i3 {
    color: white;
    top: 0;
    left: 400px;
}
#box-back > .i4 {
    color: white;
    top: 200px;
    left: 0;
}
#box-back > .i5 {
    color: white;
    top: 200px;
    left: 200px;
}
#box-back > .i6 {
    color: white;
    top: 200px;
    left: 400px;
}
#box-back > .i7 {
    color: white;
    top: 400px;
    left: 0;
}
#box-back > .i8 {
    color: white;
    top: 400px;
    left: 200px;
}
#box-back > .i9 {
    color: white;
    top: 400px;
    left: 400px;
}

#box-right > .i1 {
    color: white;
    top: 0;
    left: 0;
}
#box-right > .i2 {
    color: white;
    top: 0;
    left: 200px;
}
#box-right > .i3 {
    color: white;
    top: 0;
    left: 400px;
}
#box-right > .i4 {
    color: white;
    top: 200px;
    left: 0;
}
#box-right > .i5 {
    color: white;
    top: 200px;
    left: 200px;
}
#box-right > .i6 {
    color: white;
    top: 200px;
    left: 400px;
}
#box-right > .i7 {
    color: white;
    top: 400px;
    left: 0;
}
#box-right > .i8 {
    color: white;
    top: 400px;
    left: 200px;
}
#box-right > .i9 {
    color: white;
    top: 400px;
    left: 400px;
}

#box-left > .i1 {
    color: white;
    top: 0;
    left: 0;
}
#box-left > .i2 {
    color: white;
    top: 0;
    left: 200px;
}
#box-left > .i3 {
    color: white;
    top: 0;
    left: 400px;
}
#box-left > .i4 {
    color: white;
    top: 200px;
    left: 0;
}
#box-left > .i5 {
    color: white;
    top: 200px;
    left: 200px;
}
#box-left > .i6 {
    color: white;
    top: 200px;
    left: 400px;
}
#box-left > .i7 {
    color: white;
    top: 400px;
    left: 0;
}
#box-left > .i8 {
    color: white;
    top: 400px;
    left: 200px;
}
#box-left > .i9 {
    color: white;
    top: 400px;
    left: 400px;
}

#box-top > .i1 {
    color: white;
    top: 0;
    left: 0;
}
#box-top > .i2 {
    color: white;
    top: 0;
    left: 200px;
}
#box-top > .i3 {
    color: white;
    top: 0;
    left: 400px;
}
#box-top > .i4 {
    color: white;
    top: 200px;
    left: 0;
}
#box-top > .i5 {
    color: white;
    top: 200px;
    left: 200px;
}
#box-top > .i6 {
    color: white;
    top: 200px;
    left: 400px;
}
#box-top > .i7 {
    color: white;
    top: 400px;
    left: 0;
}
#box-top > .i8 {
    color: white;
    top: 400px;
    left: 200px;
}
#box-top > .i9 {
    color: white;
    top: 400px;
    left: 400px;
}

#box-bottom > .i1 {
    color: white;
    top: 0;
    left: 0;
}
#box-bottom > .i2 {
    color: white;
    top: 0;
    left: 200px;
}
#box-bottom > .i3 {
    color: white;
    top: 0;
    left: 400px;
}
#box-bottom > .i4 {
    color: white;
    top: 200px;
    left: 0;
}
#box-bottom > .i5 {
    color: white;
    top: 200px;
    left: 200px;
}
#box-bottom > .i6 {
    color: white;
    top: 200px;
    left: 400px;
}
#box-bottom > .i7 {
    color: white;
    top: 400px;
    left: 0;
}
#box-bottom > .i8 {
    color: white;
    top: 400px;
    left: 200px;
}
#box-bottom > .i9 {
    color: white;
    top: 400px;
    left: 400px;
}
/*background: black*/
#box-front > div {
    background: black;
}
#box-back > div {
    background: black;
}
#box-right > div {
    background: black;
}
#box-left > div {
    background: black;
}
#box-top > div {
    background: black;
}
#box-bottom > div {
    background: black;
}

#box-front {
    transform: translateX(-300px) translateY(-300px) translateZ(300px);
}

#box-back {
    transform: translateX(-300px) translateY(-300px) translateZ(-300px);
}

#box-right {
    transform: translateY(-300px) rotateY(90deg);
}

#box-left {
    transform: translateY(-300px) translateX(-600px) rotateY(90deg);
}

#box-top {
    transform: translateX(-300px) translateY(-600px) rotateX(90deg);
}

#box-bottom {
    transform: translateX(-300px) rotateX(90deg);
}

.box-area {
    transform: rotateX(90deg) rotateY(90deg);
}

.dance-btns {
    position: absolute;
    top: 60px;
}

.dance-btns > ul > li > button {
    perspective: 300px;
    position: absolute;
    display: block;
    padding: 10px 10px;
}

.perek {
    width: 200px;
    height: 85px;
    font-size: 46px;
    font-weight: bold;
    font-family: PathwayGothicOne-Regular, sans-serif;
    background: white;
}