<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/default.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/tooltip.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/home.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/nav.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/empty.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/dance.css}" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>
<body>
<div th:insert="nav.html :: nav"></div>
<div id="app" style="background: rgba(0,0,0,0.9)" class="hero">
    <div>
        <transition name="coming">
            <div v-if="show" id="wrapper">
                <div class="box-area">
                    <div id="box-front" class="box">
                        <div class="i1"><img style="height: 170px; width: 130px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i2"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i3"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i4"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i5"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i6"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i7"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i8"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i9"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                    </div>
                    <div id="box-right" class="box">
                        <div class="i1"><img style="height: 170px; width: 130px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i2"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i3"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i4"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i5"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i6"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i7"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i8"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i9"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                    </div>
                    <div id="box-back" class="box">
                        <div class="i1"><img style="height: 170px; width: 130px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i2"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i3"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i4"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i5"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i6"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i7"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i8"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i9"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                    </div>
                    <div id="box-left" class="box">
                        <div class="i1"><img style="height: 170px; width: 130px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i2"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i3"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i4"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i5"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i6"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i7"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i8"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i9"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                    </div>
                    <div id="box-top" class="box">
                        <div class="i1"><img style="height: 170px; width: 130px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i2"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i3"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i4"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i5"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i6"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i7"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i8"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i9"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                    </div>
                    <div id="box-bottom" class="box">
                        <div class="i1"><img style="height: 170px; width: 130px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i2"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i3"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i4"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i5"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i6"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i7"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i8"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                        <div class="i9"><img style="height: 185px; width: 115px; margin: 5% 17%" src="/image/d.gif">
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
    <div>
        <ul class="dance-btns">
            <li>
                <button style="perspective: 300px; position: absolute; display: block;" class="perek"
                        v-on:click="show = !show">
                    <span >Switch</span>
                </button>
            </li>
        </ul>
    </div>
    <div>
        <transition name="coming">
            <div v-if="show" id="wrapper-dance">
                <div class="dance-area">
                    <div id="dance-front" class="dance">
                        <img style="height: 400px; width: 450px; margin-top: 5%; margin-bottom: 5%"
                             src="/image/tenor.gif">
                    </div>
                    <div id="dance-right" class="dance">
                        <img style="height: 300px; width: 300px; margin: 15% 15%" src="/image/ric.gif">
                    </div>
                    <div id="dance-back" class="dance">
                        <img style="height: 400px; width: 300px; margin: 5% 15%" src="/image/male.gif">
                    </div>
                    <div id="dance-left" class="dance">
                        <img style="height: 400px; width: 300px; margin: 5% 17%" src="/image/waifu.gif">
                    </div>
                </div>
            </div>
        </transition>
    </div>

    <div th:insert="bubble :: bubble"></div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            show: false
        }
    })
</script>
</body>
</html>