<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/default.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/tooltip.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/home.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/nav.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/clock.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:insert="nav.html :: nav"></div>
<div class="hero">
    <main>
        <div class="search">
            <form style="display: flex;" th:action="@{/animesearch/}" method="get">
                <input style="display: inline-block;" type="text" th:name="name">
                <button th:id="join-chat-button-2" style="display: inline-block;" type="submit">Search</button>
            </form>
        </div>
        <div class="home">
            <div class="grid-container">
                <div th:each="a : ${anime}" class="tooltip">
                    <div class="tooltiptext">
                        <span th:text="${a.getName()}"></span>
                        <div class="tooltip-scroll">
                            <span class="tooltiphistory" th:utext="${a.getHistory()}"></span>
                        </div>
                    </div>
                    <a th:href="@{/info/{id}(id = ${a.getId()})}"><img th:id="join-chat-button-2" th:src="${a.getImage()}" width="100%"
                                                                       height="100%" alt=""></a>
                </div>
            </div>
        </div>
    </main>
</div>
<div th:insert="bubble :: bubble"></div>
</body>
</html>