<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Check page</title>
    <link th:href="@{/css/nav.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/register.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/default.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/empty.css}" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>
<body>
<div class="dark-body">
    <div th:insert="nav.html :: nav"></div>
    <div id="app" class="hero">
        <button style="display: none;" class="login-btn" v-on:click="show = !show">
            Переключить
        </button>
        <transition name="fade">
            <div v-if="show" class="login-back" >
                <div class="login-box" style="padding: 50px 60px 60px;border-radius: 30%">
                    <form th:action="@{/Lab1/checkPIN}" method="post">
                        <h1 style="margin-bottom: 5px; border-bottom: none">Virtual cash machine</h1>
                        <div class="textbox" style="width: 298.5px">
                            <label>
                                <input style="text-align: center; font-size: 40px;" type="password" placeholder="PIN" name="pin">
                            </label>
                        </div>
                        <span style="color: #ffc2ce;" th:if="${error!=null}" th:utext="${error}"></span>
                        <button style="font-size: 25px; width: 298.5px;" v-on:click="show = !show" type="submit" class="login-btn">Check PIN</button>
                    </form>
                </div>
            </div>
        </transition>
    </div>
    <div th:insert="bubble :: bubble"></div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            show: true,
            hover: false
        }
    })
</script>
<script>
</script>
</body>
</html>