<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <title th:text="${anime.getName()}"></title>-->
    <link th:href="@{/css/nav.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/default.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/manga.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
</head>
<body>
<div th:insert="nav.html :: nav"></div>
<div class="hero">
    <main>

    </main>
</div>
<div th:insert="bubble :: bubble"></div>
</body>
</html>